{% extends 'base.html' %}

{% block title %}
	Home page
{% endblock %}

{% block content_title %}
	Python for everyone!
{% endblock %}

{% block content %}
	<h2>5 причин, почему программирование на Python — скилл будущего </h2>
	<p>Язык программирования Python на слуху даже у тех, кто не интересуется сферой IT и код в своей жизни никогда не писал. Причин тому несколько: от лаконичности самого языка до внушительного списка компаний-гигантов, которые им пользуются. Владеющие этим языком разработчики нужны на рынке и получают хорошие деньги. При этом изучение Python не требует специфических навыков. Рассказываем, что это за волшебный язык, откуда он взялся и почему программирование на Python — навык будущего, который стоит освоить прямо сейчас.</p>
	<div>
		<h3>1. Проще не бывает</h3>
		<p>Python — универсальный язык, созданный, чтобы помочь программисту работать быстрее. Главный плюс Python — лаконичность кода. Команда, которая на другом языке займет три или четыре строки, на Python поместится в одну, да еще легко читаемую. Простой синтаксис делает Python обучение относительно быстрым и нетрудным, разобраться в нем смогут даже новички в программировании.</p>
		<p>Другой важный плюс — готовые решения. Отдельная библиотека для работы с базами данных, отдельная для машинного обучения, еще одна — для 2D- и 3D-графики. И таких библиотек туча. Поэтому разработчики так любят программирование на Python — с ним редко приходится придумывать что-то с нуля, ведь под каждую задачу уже есть свой инструмент.</p>
	</div>
	<div>
		<h3>2. Веселая философия</h3>
		<p>Язык программирования Python придумал в конце 1980-х сотрудник голландского исследовательского института математики и информатики Гвидо ван Россум. Со временем Python оброс возможностями и вобрал в себя самые удачные решения из других языков. Поэтому, когда Россум опубликовал исходный код на открытом ресурсе в начале 90-х, вокруг новинки быстро собралось дружелюбное сообщество. Сейчас его часто называют одним из главных факторов успеха Python.</p>
		<p>Разработчики Python прослыли милыми и отзывчивыми. Они подходят к своей работе с юмором. Веселый настрой читается даже в названии языка — его позаимствовали у популярного в 70-х шоу «Летающий цирк Монти Пайтона». Да, к питонам он изначально отношения не имел, хотя сейчас логотип этого языка программирования напоминает двух змеек.</p>
	</div>
	<div>
		<h3>3. Большие возможности</h3>
		<p>Python — находка для разработчиков, которые пока не определились, в какой сфере хотят строить карьеру. Писать сайты или заниматься машинным обучением. А может, и вовсе податься в индустрию кино. Для тех, кто знает Python, эти сферы открыты.</p>
		<p>Например, этот язык применяют для создания анимации в компании Джорджа Лукаса Industrial Light and Magic — той самой, которая делает визуальные эффекты для проектов Disney. А если наука вам милее кино, то вот интересный факт: с помощью Python делают вычисления в NASA.</p>
		<p>Преимущества языка не остались незамеченными крупными компаниями. По данным портала Real Python, язык используют Google, Facebook, Instagram, Spotify, Netflix и многие другие лидеры рынка. Instagram, например, изначально писали на Python из-за его простоты и практичности. Именно Python анализирует данные о наших просмотрах и прослушиваниях на Netflix и Spotify и создает рекомендации. </p>
	</div>
	<div>
		<h3>4. Рынок ждет вас</h3>
		<p>Программирование на Python — востребованный навык. По одному запросу «Python разработчик» на hh.ru выпадает более 4000 вакансий по всей стране. Программистам с подтвержденным опытом работы с языком обещают в среднем от 50 000 до 350 000 рублей. По запросу «Python junior» предложений меньше — около 300, но зарплаты тоже неплохие. Даже без опыта можно получать от 40 000 рублей.</p>
		<p>Вакансии с хорошими зарплатами в основном предлагают в Москве и крупных городах, но благодаря повсеместному распространению удаленки все больше компаний ищут сотрудников в других городах. И это мы даже не упоминаем проектную занятость и фриланс, которые очень распространены в среде программистов.</p>
	</div>
	<div>
		<h3>5. Легко в учении</h3>
		<p>Программирование на Python не так уж и сложно освоить. На данный момент присутвует множество бесплатного материала, который каждый сможет освоить!</p>
	</div>
	
{% endblock %}